# 1. Configuraciones básicas (Ignorar advertencias de librerías externas)
-dontshrink
-dontoptimize
-ignorewarnings
-dontnote
-adaptclassstrings
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,*Annotation*,EnclosingMethod
-keepattributes MethodParameters
-keepparameternames

# ==========================================
# PROTEGER LA ESTRUCTURA DE CARPETAS
# ==========================================
-keeppackagenames gym_system.com.mx.**
-keepdirectories

# 2. PROTEGER EL MOTOR DE ARRANQUE INTERNO DE SPRING BOOT
-keep class org.springframework.boot.loader.** { *; }
-keep class * extends org.springframework.boot.loader.launch.ExecutableArchiveLauncher { *; }

# 3. PROTEGER EL NÚCLEO DE LA APLICACIÓN
-keep class gym_system.com.mx.GymSystemApplication { 
    public static void main(java.lang.String[]);
}

# 4. PROTEGER LA COMUNICACIÓN CON ANGULAR Y LA BD
-keep @org.springframework.web.bind.annotation.RestController class * { *; }
-keep @org.springframework.stereotype.Service class * { *; }
-keep interface gym_system.com.mx.repository.** { *; }

# ==========================================
# EL TRATADO DE PAZ CON EL FRONTEND (Solución al NaN)
# ==========================================
-keep class gym_system.com.mx.entity.** { *; }
-keep class gym_system.com.mx.dto.** { *; }

# Esta es la regla vital: Protege las variables y Getters/Setters para el JSON
-keepclassmembers class gym_system.com.mx.entity.** {
    <fields>;
    public <methods>;
}
-keepclassmembers class gym_system.com.mx.dto.** {
    <fields>;
    public <methods>;
}

# 5. PROTEGER CLASES DE CONFIGURACIÓN Y SEGURIDAD
# (Protegemos toda la carpeta config para evitar que los filtros JWT fallen)
-keep class gym_system.com.mx.config.** { *; } 
-keep @org.springframework.context.annotation.Configuration class * { *; }

# 6. IGNORAR ADVERTENCIAS DEL FRAMEWORK (Para que el build no falle)
-dontwarn org.springframework.**
-dontwarn jakarta.**
-dontwarn org.hibernate.**

# ==========================================
# PROTECCIÓN GLOBAL PARA JSON (JACKSON)
# ==========================================
# 1. Proteger TODAS las clases que terminen en "Response", "Request" o "DTO" en cualquier carpeta
-keep class gym_system.com.mx.**.*Response { *; }
-keep class gym_system.com.mx.**.*Request { *; }
-keep class gym_system.com.mx.**.*DTO { *; }
-keep class gym_system.com.mx.**.*Dto { *; }

# 2. Proteger TODOS los Getters y Setters del proyecto para que Jackson pueda armar los JSON
-keepclassmembers class * {
    public *** get*();
    public void set*(***);
    public *** is*();
}

# 3. Proteger las clases internas de los Controladores (por si tu AuthResponse vive ahí)
-keepclassmembers class gym_system.com.mx.controller.**$* {
    <fields>;
    <methods>;
}